<% games.forEach((game) => { %>
  <div class="large-4 columns">
      <img class="thumbnail" src="<%= game.image %>" alt="<%= game.game %>">
  </div>

<a href="/games/<%= game.id %>">See Game</a>
  <% }) %>
