<form method="POST" action="/games">
  <div>
    <label for="game">Game</label>
    <input type="text" name="game" id="game" required>
  </div>
    <div>
      <label for="console">Console</label>
      <input type="text" name="console" id="console" required>
    </div>
    <div>
      <label for="prizeMoney">Prize Money</label>
      <input type="number" name="prizeMoney" id="prizeMoney">
    </div>
    <div>
      <label for="gamingWebsite">Gaming Website</label>
      <input type="text" name="gamingWebsite" id="gamingWebsite" required>
    </div>
    <div>
      <label for="playersNeeded">Players Needed</label>
      <input type="text" name="playersNeeded" id="playersNeeded" required>
    </div>
    <div>
      <label for="tournament">Tournament</label>
      <input type="text" name="tournament" id="tournament" required>
    </div>
  <div>
    <label for="image">Image</label>
    <input type="text" name="image" id="image">
  </div>
  <div>
    <label for="gamerTag">Gamer Tag</label>
    <input type="text" name="gamerTag" id="gamerTag" required>
  </div>

  <button class="button">Create</button>
</form>
