<div class="add-new-tourney">
  <h1>Add Tournament</h1>

  <form method="POST" action="/games">
    <div class="form-group">
      <label for=game>Game</label>
      <input placeholder="Name of game" type="text" name="game" id="game" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="console">Console</label>
      <input placeholder="Name of console" type="text" name="console" id="console" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="prizeMoney">Prize Money</label>
      <input placeholder="Amount of money" type="number" name="prizeMoney" id="prizeMoney" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="gamingWebsite">Gaming Website</label>
      <input placeholder="Name of website" type="text" name="gamingWebsite" id="gamingWebsite" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="playersNeeded">Players Needed</label>
      <input placeholder="Required players" type="text" name="playersNeeded" id="playersNeeded" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="playersNeeded">Tournament</label>
      <input placeholder="Tournament" type="text" name="tournament" id="tournament" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input placeholder="Game image" type="text" name="image" id="image" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="gamerTag">Gamer Tag</label>
      <input placeholder="Console username" type="text" name="gamerTag" id="gamerTag" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="startTime">Start Time</label>
      <input placeholder="Time" type="text" name="startTime" id="startTime" class="form-control"required>
    </div>
    <button class="btn btn-primary">Create</button>
  </form>
</div>
