body {
  font-family: 'Roboto', sans-serif;

}

.navbar {
  background-color: #32379E !important;
}

.navbar-brand{
font-family: 'Concert One', cursive;
font-size: 50px;
}

.collapse {
font-family: 'Concert One', cursive;
}
